mixin possCards(props = {})
  .poss-cards
    article.poss-card
      if (props.title === 'h2')
        h2.poss-card__title.h2.c-blue Всплывающая карточка
      else
        h3.poss-card__title.h2.c-blue Всплывающая карточка
      p.poss-card__text Клиент набрал ваш номер. #[br.sm]У менеджера звонит телефон. Карточка клиента уже на&nbsp;экране.
      .poss-card__img #[+picture('cards/poss-card-1.jpg', 'Возможности сервиса')(loading=props.lazy ? 'lazy' : 'eager')]
    article.poss-card
      if (props.title === 'h2')
        h2.poss-card__title.h2.c-blue Исходящий #[br.sm]по клику
      else
        h3.poss-card__title.h2.c-blue Исходящий #[br.sm]по клику
      p.poss-card__text Звоните клиентам прямо из CRM. #[br.sm]Нажмите на номер клиента в карточке, и&nbsp;Простые Звонки сами его наберут.
      .poss-card__img #[+picture('cards/poss-card-2.jpg', 'Возможности сервиса')(loading=props.lazy ? 'lazy' : 'eager')]
    article.poss-card
      if (props.title === 'h2')
        h2.poss-card__title.h2.c-blue Журнал
      else
        h3.poss-card__title.h2.c-blue Журнал
      p.poss-card__text В карточке каждого клиента, с которым общались ваши сотрудники, есть хронология всех звонков
      .poss-card__img #[+picture('cards/poss-card-3.jpg', 'Возможности сервиса')(loading=props.lazy ? 'lazy' : 'eager')]
    article.poss-card
      if (props.title === 'h2')
        h2.poss-card__title.h2.c-blue Аудиозаписи
      else
        h3.poss-card__title.h2.c-blue Аудиозаписи
      p.poss-card__text Ссылки на записи разговоров сохраняются в&nbsp;карточке клиента.
      .poss-card__img #[+picture('cards/poss-card-4.jpg', 'Возможности сервиса')(loading=props.lazy ? 'lazy' : 'eager')]
    article.poss-card
      if (props.title === 'h2')
        h2.poss-card__title.h2.c-blue Умный перевод
      else
        h3.poss-card__title.h2.c-blue Умный перевод
      p.poss-card__text Клиент сразу попадает на закрепленного за&nbsp;ним&nbsp;менеджера, не слушая музыку и&nbsp;не&nbsp;тратя время на IVR.
      .poss-card__img #[+picture('cards/poss-card-5.jpg', 'Возможности сервиса')(loading=props.lazy ? 'lazy' : 'eager')]
    article.poss-card
      if (props.title === 'h2')
        h2.poss-card__title.h2.c-blue Отчёты
      else
        h3.poss-card__title.h2.c-blue Отчёты
      p.poss-card__text Входящие, исходящие, пропущенные, время,&nbsp;география, распределение звонков и&nbsp;многое другое. Наблюдайте онлайн.
      .poss-card__img #[+picture('cards/poss-card-6.jpg', 'Возможности сервиса')(loading=props.lazy ? 'lazy' : 'eager')]
