include ./components/components.pug
block globals
doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    title #{ pageTitle }
    meta(name='description', content='Page description')
    meta(name='keywords', content='key, words')
    meta(name='viewport', content='width=device-width, initial-scale=1, viewport-fit=cover')
    include @partials/layout/favicon.pug
    include @partials/layout/fonts.pug
    block fonts
    block styles
    link(href=require('../scss/main.scss'), rel='stylesheet')
    if (pageUrl !== 'index')
      link(href=require('../scss/pages.scss'), rel='stylesheet')
    block scripts
    script(defer, src=require('../js/main.js'))
  body.no-js.no-transition.webp(class=pageUrl === 'index' ? 'homepage' : pageUrl + '-page', class=bodyClass)
    header.header
      block header-notification
      .container
        include @partials/layout/header.pug
    if (pageUrl === 'index')
      include @partials/layout/hero.pug
    .page-wrapper.container
      main.main
        block content
    footer.footer
      include @partials/layout/footer.pug
    .navbar-overlay.overlay
    block dialogs
    block embedded-scripts
